<div *ngIf="hero" class="card">
  <div class="card-body">
    <h5 class="card-title">Hi, this is your hero!</h5>
    <dl class="row mb-0">
      <dt class="col-sm-3">ID</dt>
      <dd class="col-sm-9">{{ hero.id }}</dd>

      <dt class="col-sm-3">Name</dt>
      <dd class="col-sm-9">{{ hero.name }}</dd>

      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">You can put some long description here.</dd>
    </dl>
  </div>
</div>

<app-hero-quote
  *ngIf="hero"
  quote="This is a quote to remember."
  name="{{ hero.name }}"
></app-hero-quote>

<div *ngIf="!hero?.id" class="card text-center">
  <div class="card-header">Are you lost?</div>
  <div class="card-body">
    <h5 class="card-title">Can't find your hero?</h5>
    <p class="card-text">Some description can go here.</p>
    <p class="card-text text-muted"><small>And some small ones too</small></p>
    <a routerLink="/heroes" class="btn btn-primary">Back</a>
  </div>
  <div class="card-footer text-muted">Many heroes are waiting for you.</div>
</div>
